{# templates/blog/fishing.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Wedkarstwo{% endblock %}

{% block body %}
    <h1>Artykuły o wedkarstwie</h1>
    <div class="card-group">
        {% if article is defined %}

        <div class="card">
                <img src="{{ asset('uploads/articles/' ~ article.imagePath) }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.description }}</p>
                </div>
            </div>
        {% else %}
            <p>No article found.</p>
        {% endif %}
    </div>

    <a href="{{ path('addArticle') }}" class="btn btn-primary">Dodaj nowy artykuł</a>
{% endblock %}
